src/main/app/jira.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jirarest="http://www.mulesoft.org/schema/mule/jirarest" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jirarest http://www.mulesoft.org/schema/mule/jirarest/current/mule-jirarest.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="issue/create/{sys_id}">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/issue/create/{sys_id}" doc:name="HTTP"/>
        <set-variable variableName="sys_id" value="#[message.inboundProperties.'http.uri.params'.sys_id]" doc:name="SetVar sys_id"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
 {
    fields: {
    	project: {
             "key": "SNOW"
        },
        "issuetype": {
         	"name": "Bug"
       	},
        "summary": "ANW Issue 1",
        "customfield_10025": flowVars.sys_id
    }
 }]]></dw:set-payload>
        </dw:transform-message>
        <jirarest:issues-issue-create config-ref="JiraRest__Basic_Authentification" entityType="Issue" doc:name="JiraRest"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="issue/{issue_id}">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/issue/{issue_id}" doc:name="HTTP"/>
        <set-variable variableName="issue_id" value="#[(message.inboundProperties.'http.uri.params'.issue_id == empty) ? 'SNOW-1' : message.inboundProperties.'http.uri.params'.issue_id]" doc:name="SetVar issue_id"/>
        <jirarest:issues-issue-get config-ref="JiraRest__Basic_Authentification" entityType="Issue" fields="customfield_10025,status,comment" issueKeyOrId="#[flowVars.issue_id]" doc:name="JiraRest_getIssue"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"id": payload.id,
	"key": payload.key,
	"status": payload.fields.status.statusCategory.name,
	"sys_id": payload.fields.customfield_10025,
	"comments": payload.fields.comment.comments[0].body
}
]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="#[payload.id]"/>
    </flow>
</mule>
