src/main/app/servicenow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="/incident/{sys_id}">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/incident/{sys_id}" doc:name="HTTP"/>
        <set-variable variableName="sys_id" value="#[message.inboundProperties.'http.uri.params'.sys_id]" doc:name="Set sys_id"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/incident
---
{
	ns0#get: {
		ns0#sys_id: flowVars.sys_id
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <servicenow:invoke config-ref="ServiceNow__configuration" type="incident||get" doc:name="ServiceNow_Get"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"number": payload.getResponse.number,
	"issue": payload.getResponse.u_jira_issue
}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="/incident/resolve/{sys_id}">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/incident/resolve/{sys_id}" doc:name="HTTP"/>
        <set-variable variableName="sys_id" value="#[message.inboundProperties.'http.uri.params'.sys_id]" doc:name="Set sys_id"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.service-now.com/incident
---
{
	ns0#update: {
		ns0#sys_id: flowVars.sys_id,
		ns0#incident_state: 6, //resolved
		ns0#close_code: "Solved (Work Around)",
		ns0#close_notes: "Test Message"
		//ns0#close_notes: payload.fields.comment.comments[0].body

	}
}]]></dw:set-payload>
        </dw:transform-message>
        <servicenow:invoke config-ref="ServiceNow__configuration" type="incident||update" doc:name="ServiceNow"/>
        <logger message="Updated Incident Status" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
